html
{
	background-color: #FFF; 
}
.titulo
{
	text-align: center;
	font-size: xx-large;
	background-color: purple;
}
.table-responsive
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.tablapokemon
{	
	text-align: center;
	font-size: 20px;
	font-style: arial;
	background-color: #81DAF5;
	border-collapse:  separate;
	border: #2E64FE 3px solid;
}
.t2
{	
	text-align: center;
	font-size: 20px;
	font-style: arial;
	background-color: #81DAF5;
	border-collapse:  collapse;
	border: #2E64FE 1px solid;
}
.letras
{
	font-style: "arial";
	font-size: "6px";
}
